.hero{
  border-radius: 15px;
}

.navright{
  display: inline;
}
.navright a{
  float: right;
  margin: 5px 10px 5px 0;
}

.bg-dark{
  background-color: black;
  border: ridge white 3px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.foot{
  background-color: black;
  border: ridge white 3px;
  color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

}

.Pro{
  height: 250px;
}